@font-face {
    font-family: 'Pacifico';
    src: url('../assets/fonts/Pacifico-Regular.ttf');
}

:root {
    --dark-green-grey: #1c1e1d;
    --light-grey: #444645;
    --off-white: #fefdf9;
    --gradient-start: #e6dbe8;
    --gradient-end: #532bf2;
    --background-grey: #dddddd84;
}

h1 {
    font-family: 'Pacifico', serif;
    font-weight: 500;
    font-style: normal;
    font-size: 125px;
    background: linear-gradient(45deg, var(--gradient-start), var(--gradient-end) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 85px;
    text-align: center;
    padding: 40px 10px 95px;
    margin-bottom: 2rem;
<<<<<<< HEAD
    filter:drop-shadow(0px 0px 10px #8181ce);
=======
    filter: drop-shadow(0 0 40px rgba(129, 129, 206, 0.57));
    z-index: inherit;
>>>>>>> f91409453251ba191a85d3ac33b3f7b63c9a1877
  }

.center{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
  
.searchBar{
    width: 50rem;
}

.header {
    position: fixed;
    left: 0;
    top: 10px;
    width: 100%;
    text-align: right;
    z-index: 10;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

input#searchInput{
    margin: 0 auto;
    width: 93%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    color: var(--off-white);
    background-color: var(--light-grey);
    border: 3px solid var(--off-white);
    border-radius: 100px;
    outline: none;
}

.searchIcon{
    position: relative;
    float: right;
    width: 27px;
    height: 27px;
    top: -39px;
    right: 22px;
}

.searchengine-selection{
    display: flex;
    flex-direction:column;
}

button {
    margin: 7px auto;
    height: 45px;
    font-size: 1rem;
    background-color: var(--light-grey);
    color: var(--off-white);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: 3px solid var(--off-white);
    border-radius: 100px;
}

.logoIcon{
    padding: 0px;
    padding-top: 4px;
    position: center;
    height: 19px;
}

.advertisement{
    display: flex;
    align-items: center;
}

.advertisement a:link {
    color: var(--off-white);
    text-decoration: underline;    
}

.advertisement a:visited {
    color: var(--off-white);
    text-decoration: underline;
}

.moyiecon{
    position: relative;
    width: 50px;
}

.dropbtn {
    width: 46px;
    background-color: #aa040400;
    margin-right: 20px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 100px;
}

#close {
    padding-top: 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position:relative;
    margin-right: 15px;
    text-align: center;
    background-color: #f1f1f100;
    min-width: 160px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    margin-right: 0;
    text-decoration: none;
    display: block;
    border-radius: 100px;
}

.dropdown-content a:hover {background-color: var(--background-grey);}

.dropbtn:hover {background-color: var(--background-grey);} 

@media screen and (max-width: 815px) {

    h1 {
        font-size: 45px;
        margin: 0 auto;
        padding: 15px;
    }
    .center{
        margin-top: 30%;
    }

    .searchBar{
        width: 15rem;
        padding: 10px;
    }



    input#searchInput{
        width: 80%;
    }

    .searchIcon{
        width: 20px;
        height: 20px;
        top: -35px;
        right: 20px;
    }

    #thankyou{
        display: none;
    }
<<<<<<< HEAD
}
=======

    .dropdown-content{
        border-radius: 15px;
        background-color: #787878;
        filter: drop-shadow(0 0 15px rgba(62, 62, 62, 0.57));
    }
}
>>>>>>> f91409453251ba191a85d3ac33b3f7b63c9a1877
